node_modules
dist
out
*.tgz

# env
.env
.env.local
.env.*.local
*.env

# logs
logs
*.log

# caches
.cache
*.tsbuildinfo

# python
__pycache__/
*.pyc

# coverage
coverage
*.lcov

# OS
.DS_Store

# IDE
.idea
.vscode

# Claude
.claude

# Generated assets
**/public/global.css

# Diagrams
diagrams/
