services:
  webhooklistener:
    image: ghcr.io/loramint/loramint_docker:latest
    environment:
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_USERNAME=${DB_USERNAME}
      - DB_HOST=db
      - DB_PORT=5432
      - DB_DATABASE=${DB_DATABASE}
      - APP_KEY=${APP_KEY}
      - WEBHOOK_HOST=0.0.0.0
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.webhooklistener.rule=Host(`webhook.loramint.sfz-ox.de`)"
      - "traefik.http.routers.webhooklistener.entrypoints=websecure"
      - "traefik.http.routers.webhooklistener.tls=true"
      - "traefik.http.routers.webhooklistener.tls.certResolver=http_resolver"
      - "traefik.http.services.webhooklistener.loadbalancer.server.port=8090"
      - "traefik.docker.network=traefik"
    depends_on:
      - db
    restart: unless-stopped
    networks:
      - traefik
      - internal

  db:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_DB=${DB_DATABASE}
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - internal

networks:
  traefik:
    external: true
  internal:

volumes:
  db_data:
